* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

.navbar-2 {
    font-family: 'Pacifico', cursive;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(0, 0, 0);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 12px 30px;
}

.navbar-2,
a,
ul li {
    background-color: white;
}

.navbar-brand .ps-3 {
    border-radius: 25px;
}

.inicio {
    height: calc(100vh - 120px);
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    font-weight: 400;
}

.textoMarca {
    width: 1090px;
}

.conteudo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4;
}

.subtitle {
    font-family: 'Pacifico', cursive;
    letter-spacing: 6px;
    font-size: 1rem;
    margin-top: 10px;
    opacity: 0.8;
}

.subtitle2 {
    font-family: 'Pacifico', cursive;
    font-size: 1.4rem;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 500;
}